<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>Pulse</title>
		<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>

	<body>
		<!--
			//random variable
			{{message}}

			//if statement
			{% if message != '' %}

			{% endif %}

			//iterating over db query
			
		-->

		<div class="alert alert-success" role="alert"></div>
		<div class="row">
			<div class="col-md-4">
				<h3>Your Info</h3>
				<span>USERNAME: </span>
		  		<div class="form-group">
		    	<input id="username" type="text" class="form-control" placeholder="username">
		  		</div>
		  		<button id="submit" type="submit" class="btn btn-default">Submit</button>
				<br>
			</div>

			<div class="col-md-4">
				<h3>Open Rooms</h3>
				<button onclick="joinRoom('default'); document.querySelector('.alert').innerHTML ='default room'" class="btn btn-primary">Default Room</button>
				<button onclick="joinRoom('zombies'); document.querySelector('.alert').innerHTML ='zombies room'" class="btn btn-primary">Zombies Room</button>
			</div>

			<div class="col-md-4">
				<h3>Current Users</h3>
				<ul class="list">
					{% for user in user_list %}
						<li>{{user.username}}</li>
					{% endfor %}
				</ul>
			</div>

		</div> <!-- row -->
		
		<!-- <div id="room"></div> -->
		<br>

		

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<script src="/socket.io/socket.io.js"></script>

		<script type="text/javascript">
			var socket = io.connect();

			socket.on('ping', function(data) {
				console.log('PONG: ' + data);
				start(data);
			});

			socket.on('show current room', function(data) {
				console.log('you are part of room: '+ data.room)
			})

			socket.on('refresh users', function(data) {
				listUsers()
			})
			
		</script>

		<script src="/reload/reload.js"></script>

		<script type="text/javascript">
			function joinRoom(room_id) {
				socket.emit('join room', {'room': room_id});
				socket.emit('show room', {})
			};

			function getLocation() {
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(printPosition);
			    } else {
			        console.log("Geolocation is not supported by this browser.");
			    }
			    return false;
			}

			function getCookie(cname) {
			    var name = cname + "=";
			    var ca = document.cookie.split(';');
			    for(var i=0; i<ca.length; i++) {
			        var c = ca[i].trim();
			        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
			    }
			    return "";
			}

			function printPosition(position) {
			    console.log("Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude);
			    socket.emit('update location', {'lon': position.coords.longitude, 'lat': position.coords.latitude})
			}

			function start(data) {
				//set the banner
				document.querySelector('.alert').innerHTML ='default room';
				//getLocation()
				if (!getCookie('username')) {
					//navigator.geolocation.getCurrentPosition(printPosition);
					console.log('NEW USER!!!!!! please pick a username');
					navigator.geolocation.getCurrentPosition(success);
					document.cookie='username='+data.id;
				}
			}

			//anthony jeselnik
			function success(pos) {
				socket.emit('new user', {'username': getCookie('username'), 'lon': pos.coords.longitude, 'lat': pos.coords.latitude})
				//var crd = pos.coords;
				//console.log(crd.longitude)
			}

			function listUsers(user_list) {
				console.log('users should have been updated');
				$('.list').empty();

			}

			setInterval(function() {
		        //socket.emit('test')
		    }, 3000);
			

			$('#submit').click(function() {
				console.log('your username: ' + $('#username').val())
				socket.emit('change username', {'old': getCookie('username'), 'username': $('#username').val()})
				document.cookie='username='+$('#username').val();
			})
		</script>

	</body>
	</body>
</html> 